# Mock-Dataset for Donor and Donation Data

**Author**: Isabel Ritter \\
**Date**: 12.02.2023 \\
**Contents**: This notebook contains code to create mock-data. The data is intended to represent donor and donation data and serves as the basis for a prototype information visualization format. The following parameters are created in this notebook: 
1.   Gender of the donor
2.   Place of residence of the donor
1.   Age of the donor
1.   Amount of the donation
2.   Date and time of the donation

In [ ]:
# Import
from google.colab import drive

# Mount Google Drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

##1. Gender of the donor

In [ ]:
# Import
import random

In [ ]:
# Define the proportion of each gender value
male_proportion = 39
female_proportion = 51
other_proportion = 10

In [ ]:
# Calculate the total proportion
total_proportion = male_proportion + female_proportion + other_proportion

# Define the number of rows
rows = 10000

In [ ]:
# Initialize an empty list to store the values
gender = []

In [ ]:
# Generate the values for the gender column
for i in range(rows):
    # Generate a random number from 0 to 100
    random_number = random.randint(0, 100)

    # Check if the random number is less than or equal to male_proportion
    if random_number <= male_proportion:
        gender.append("Male")
    # Check if the random number is less than or equal to female_proportion
    elif random_number <= female_proportion + male_proportion:
        gender.append("Female")
    # If the random number is greater than male_proportion + female_proportion
    # then it's "Other"
    else:
        gender.append("Other")

In [ ]:
# Print the first 5 values of the gender column
print(gender[:5])

['Female', 'Female', 'Female', 'Male', 'Male']

##2. Place of residence of the donor

In [ ]:
# Imports
import pandas as pd
import numpy as np

In [ ]:
# read in the three Excel files
large_cities = pd.read_excel('/content/gdrive/My Drive/Colab_Notebooks/BA_Dateien/large_cities.xlsx')
small_cities = pd.read_excel('/content/gdrive/My Drive/Colab_Notebooks/BA_Dateien/small_cities.xlsx')
other_cities = pd.read_excel('/content/gdrive/My Drive/Colab_Notebooks/BA_Dateien/other_cities.xlsx')

In [ ]:
n = 10000

# Randomly select a specified number of rows from each of the original dataframes
small_cities_index = np.random.choice(small_cities.index, int(n * 0.73), replace=True)
large_cities_index = np.random.choice(large_cities.index, int(n * 0.22), replace=True)
other_cities_index = np.random.choice(other_cities.index, n - int(n * 0.73) - int(n * 0.22), replace=True)

In [ ]:
# Create a new dataframe by concatenating the selected rows from each of the original dataframes
new_df = pd.concat([small_cities.loc[small_cities_index], large_cities.loc[large_cities_index], other_cities.loc[other_cities_index]])

In [ ]:
# Get head of new_df
new_df.head()

                       city      lat      lng
639    Kirchberg am Wechsel  47.6086  15.9925
218                 Lieboch  46.9742  15.3375
30            Hall in Tirol  47.2833  11.5000
406               Millstatt  46.8042  13.5806
40   Sankt Veit an der Glan  46.7667  14.3603

In [ ]:
# Get info of new_df
new_df.info

<bound method DataFrame.info of                        city        lat         lng
639    Kirchberg am Wechsel  47.608600   15.992500
218                 Lieboch  46.974200   15.337500
30            Hall in Tirol  47.283300   11.500000
406               Millstatt  46.804200   13.580600
40   Sankt Veit an der Glan  46.766700   14.360300
..                      ...        ...         ...
4                     Paris  48.856614    2.352222
2             San Sebastian  43.318334   -1.981231
5                    London  51.507351   -0.127758
1                      Gent  51.054342    3.717424
3                     Tokyo  35.689487  139.691706

[10000 rows x 3 columns]>

## 3. Age of the donor

In [ ]:
# List for age
age = []

In [ ]:
# Create age
for i in range(10000):
    r = random.random()
    if r < 0.07:
        age.append(random.randint(18, 26))
    elif r < 0.23:
        age.append(random.randint(27, 36))
    elif r < 0.46:
        age.append(random.randint(37, 45))
    elif r < 0.75:
        age.append(random.randint(46, 55))
    elif r < 0.95:
        age.append(random.randint(56, 65))
    else:
        age.append(random.randint(66, 99))

In [ ]:
# Print the first 5 values of the age column
print(age[:5])

[44, 24, 45, 63, 53]

## 4. Amount of the donation

In [ ]:
# Donation
donation = []

In [ ]:
for i in range(10000):
    r = random.random()
    if r < 0.7:
        donation.append(random.randint(5, 100))
    elif r < 0.85:
        donation.append(random.randint(101, 250))
    elif r < 0.9:
        donation.append(random.randint(251, 500))
    elif r < 0.98:
        donation.append(random.randint(501, 1000))
    else:
      donation.append(random.randint(1000, 5500))

In [ ]:
# Print the first 5 values of the donation column
print(donation[:5])

[45, 78, 68, 86, 51]

## 5. Date and time of the donation

In [ ]:
# Import
import datetime

In [ ]:
# Define the start and end date
start_date = datetime.datetime(2018, 1, 1)
end_date = datetime.datetime(2022, 12, 31)

In [ ]:
# Generate a list of dates between start and end date
dates = [start_date + datetime.timedelta(days=x) for x in range(0, (end_date-start_date).days+1)]

In [ ]:
# Define the time intervals and their corresponding probabilities
time_intervals = [
    (datetime.time(0, 0, 0), datetime.time(6, 0, 0), 5),
    (datetime.time(6, 0, 1), datetime.time(8, 0, 0), 15),
    (datetime.time(8, 0, 1), datetime.time(12, 0, 0), 21),
    (datetime.time(12, 0, 1), datetime.time(16, 0, 0), 24),
    (datetime.time(16, 0, 1), datetime.time(20, 0, 0), 22),
    (datetime.time(20, 0, 1), datetime.time(22, 0, 0), 11),
    (datetime.time(22, 0, 1), datetime.time(23, 59, 59), 2),
]

In [ ]:
# Generate 1000 random dates and times
date_time_list = []
count = 0
while count < 10000:
    date = random.choice(dates)
    random_num = random.uniform(0, 10000)
    for start, end, probability in time_intervals:
        if start <= datetime.datetime.combine(date, datetime.datetime.min.time()).time() <= end:
            if random_num <= probability:
                time = random.uniform(datetime.datetime.combine(date, start).timestamp(), datetime.datetime.combine(date, end).timestamp())
                date_time_list.append((date, datetime.datetime.fromtimestamp(time).time()))
                count += 1
                break
    if count >= 10000:
        break

In [ ]:
# Create a dataframe from the list
df_datetime = pd.DataFrame(date_time_list, columns=['date', 'time'])

In [ ]:
# Get head
df_datetime.head()

        date             time                  date_time
0 2020-02-25  00:43:33.986087 2020-02-25 00:43:33.986087
1 2022-02-25  00:53:25.569731 2022-02-25 00:53:25.569731
2 2021-08-02  03:42:47.547048 2021-08-02 03:42:47.547048
3 2021-05-20  03:28:02.328069 2021-05-20 03:28:02.328069
4 2018-08-20  05:20:57.680598 2018-08-20 05:20:57.680598

In [ ]:
# Show info of df_datetime
df_datetime.info

<bound method DataFrame.info of            date             time                  date_time
0    2020-02-25  00:43:33.986087 2020-02-25 00:43:33.986087
1    2022-02-25  00:53:25.569731 2022-02-25 00:53:25.569731
2    2021-08-02  03:42:47.547048 2021-08-02 03:42:47.547048
3    2021-05-20  03:28:02.328069 2021-05-20 03:28:02.328069
4    2018-08-20  05:20:57.680598 2018-08-20 05:20:57.680598
...         ...              ...                        ...
9995 2019-04-25  00:03:59.211676 2019-04-25 00:03:59.211676
9996 2020-05-18  03:18:14.052386 2020-05-18 03:18:14.052386
9997 2020-02-18  04:02:45.828162 2020-02-18 04:02:45.828162
9998 2022-03-27  02:53:54.109556 2022-03-27 02:53:54.109556
9999 2018-09-08  03:58:53.503849 2018-09-08 03:58:53.503849

[10000 rows x 3 columns]>

## Create and merge dataframes

In [ ]:
# Reset the index of one of the dataframes
new_df = new_df.reset_index(drop=True)

In [ ]:
# Concatenate the dataframes
df = pd.concat([new_df, df_datetime], axis=1)

In [ ]:
# Create a new dataframe from the lists
lists = pd.DataFrame({'gender': gender, 'age': age, 'donation': donation})

In [ ]:
# Concatenate the new dataframe with the existing one
joined_df = pd.concat([df, lists], axis=1)

In [ ]:
# Get head of joined_df
joined_df.head()

,city,lat,lng,date,time,date_time,gender,age,donation
0,Kirchberg am Wechsel,47.6086,15.9925,2020-02-25,00:43:33.986087,2020-02-25 00:43:33.986087,Female,44,45
1,Lieboch,46.9742,15.3375,2022-02-25,00:53:25.569731,2022-02-25 00:53:25.569731,Female,24,78
2,Hall in Tirol,47.2833,11.5000,2021-08-02,03:42:47.547048,2021-08-02 03:42:47.547048,Female,45,68
3,Millstatt,46.8042,13.5806,2021-05-20,03:28:02.328069,2021-05-20 03:28:02.328069,Male,63,86
4,Sankt Veit an der Glan,46.7667,14.3603,2018-08-20,05:20:57.680598,2018-08-20 05:20:57.680598,Male,53,51

In [ ]:
# Get info of joined_df
joined_df.info

<bound method DataFrame.info of                         city        lat         lng       date  \
0       Kirchberg am Wechsel  47.608600   15.992500 2020-02-25
1                    Lieboch  46.974200   15.337500 2022-02-25
2              Hall in Tirol  47.283300   11.500000 2021-08-02
3                  Millstatt  46.804200   13.580600 2021-05-20
4     Sankt Veit an der Glan  46.766700   14.360300 2018-08-20
...                      ...        ...         ...        ...
9995                   Paris  48.856614    2.352222 2019-04-25
9996           San Sebastian  43.318334   -1.981231 2020-05-18
9997                  London  51.507351   -0.127758 2020-02-18
9998                    Gent  51.054342    3.717424 2022-03-27
9999                   Tokyo  35.689487  139.691706 2018-09-08

                 time                  date_time  gender  age  donation
0     00:43:33.986087 2020-02-25 00:43:33.986087  Female   44        45
1     00:53:25.569731 2022-02-25 00:53:25.569731  Female   24        78
2     03:42:47.547048 2021-08-02 03:42:47.547048  Female   45        68
3     03:28:02.328069 2021-05-20 03:28:02.328069    Male   63        86
4     05:20:57.680598 2018-08-20 05:20:57.680598    Male   53        51
...               ...                        ...     ...  ...       ...
9995  00:03:59.211676 2019-04-25 00:03:59.211676    Male   47        62
9996  03:18:14.052386 2020-05-18 03:18:14.052386    Male   28        67
9997  04:02:45.828162 2020-02-18 04:02:45.828162    Male   40        81
9998  02:53:54.109556 2022-03-27 02:53:54.109556    Male   18         9
9999  03:58:53.503849 2018-09-08 03:58:53.503849   Other   40        62

[10000 rows x 9 columns]>

In [ ]:
# Save the dataframe to Google Drive
joined_df.to_excel('/content/gdrive/My Drive/donor_mock_data.xlsx', index=False)